@import "styles/index";

.link,
.btn {
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #fff;

  &.fluid {
    width: 100%;
  }
}

.red {
  background-color: #FD2B2B;
}

.blue {
  background-color: #0B5BFC;
}

.green {
  background-color: #0197A7;
}

.disabled {
  background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(72, 72, 72, 1) 55%, rgba(32, 37, 49, 1) 100%);
  color: #000;
}