@import "styles/index";

.link,
.btn {
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #fff;

  &.fluid {
    width: 100%;
  }
}

.red {
  background-color: #FD2B2B;
}

.blue {
  background-color: $zoom;
}

.green {
  background-color: $trueconf;
}

.gray{
  background-color: $gray;
}

.disabled {
  background: linear-gradient(0deg, rgba(112, 112, 112, 0) 0%, $gray 50.52%, rgba(112, 112, 112, 0) 100%);
  color: #000;
}