@import "styles/index";

.root {
  background: linear-gradient(180deg, rgba(22, 22, 22, 1) 0%, rgba(22, 22, 22, 1) 35%, rgba(1, 1, 1, 1) 100%);
  display: flex;
  justify-content: center;
  padding: 50% 0;
  padding-bottom: 18px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  cursor: pointer;
  svg{
    top: 130px;
    position: absolute;
  }
}

.title {
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  position: absolute;
  bottom: 18px;
}

.img {
  width: 165px !important;
  height: 165px !important;
  position: relative !important;
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.itemExit {
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 500ms;
}

.transEnter {
  width: 100%;
}

.transEnterActive {
  width: 33%;
  transition: width 500ms;
}

.transExit {
  width: 33%;
}

.transExitActive {
  width: 100%;
  transition: width 500ms;
}