@import "styles/index";

.form {
    width: 100%;
}

.key {
    margin-top: 20px;
}

.btns {
    position: relative;
    z-index: 13;
    height: 80px;
    display: flex;
    margin: 0 -30px;
    margin-top: 20px;

    button {
        height: 100%;
    }
}