@import "styles/index";

.root {
  height: 25%;
  display: flex;
  flex-direction: column;
}

.rootActive {
  height: 48%;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.climate {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  //max-height: 250px;

  img {
    width: 40% !important;
    transform: translate(75%, 0%);
  }
}

.items {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100%;
}

.item {
  height: 12.5%;
  min-width: 100%;
  margin-bottom: 4px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: conic-gradient(#000 0deg 90deg, #454545, #000 270deg);
}

.item.opened {
  
}

.active {
  background: conic-gradient(#000 0deg 90deg, #02D3B9, #000 270deg);
}

.minimized {
  
}

.mini {
  height: 13%;
  .climate {
    max-height: 180px;
  }

  img {
    transform: translate(75%, 0%);
  }
}