@import "styles/index";

.root {
  background: linear-gradient(180deg, rgba(22, 22, 22, 1) 0%, rgba(22, 22, 22, 1) 35%, rgba(1, 1, 1, 1) 100%);
  display: flex;
  justify-content: center;
  padding: 133px 0;
  padding-bottom: 18px;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  svg {
    fill: #707070;
    width: 148px;
    height: 148px;
    z-index: 1;
  }
}

.title {
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  margin-top: 70px;
  position: relative;
  z-index: 3;
}

.active {
  cursor: default;

  svg {
    fill: #0A2150;
  }

  .title {
    background: radial-gradient(107.68% 121.56% at 50% 100%, #FD2B2B 0%, rgba(255, 255, 255, 0) 46.14%);
    padding-top: 26px;
    padding-bottom: 30px;
    cursor: pointer;
  }
}

.back {
  position: absolute;
  background-color: #000;
  min-height: 100%;
  min-width: 100%;
  top: 0;
}

.menu {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.head {
  display: flex;
  position: relative;
  background-color: #000;

  .item:first-child {
    color: #fff;
    cursor: default;
  }
}

.item {
  padding: 31px 10px;
  color: #707070;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.activeItem {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 17.71%, rgba(255, 255, 255, 0.4) 100%);
  color: #fff;
}

.data {
  padding: 21px 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  width: 42%;
}

.text {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.itemExit{
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 500ms;
}