@import "styles/index";

.root {}

.rootActive {
  flex: 1;
  .itemsDown {
    .itemDown:last-child{
      display: flex;
    }
  }
  .items {
    .item:last-child{
      display: flex;
    }
  }
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.light {
  position: relative;
  //max-height: 250px;

  img {
    position: relative !important;
    width: 50% !important;
    transform: translate(50%, -200%);
  }
}

.items {
  display: flex;
  flex-direction: column-reverse;
  .item:last-child{
    display: none;
  }
}

.itemsDown {
  .itemDown:last-child{
    display: none;
  }
  .active {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(132, 111, 0, 1) 100%);
  }
}

.decorative {
  .active:last-child {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(132, 111, 0, 1) 100%);
  }
}

.item {
  height: 32px;
  background: radial-gradient(514.65% 957.67% at 0% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%);
  min-width: 100%;
  margin-bottom: 4px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.itemDown {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.item.opened {
  height: 53px;
}

.active {
  background: linear-gradient(180deg, rgba(132, 111, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.minimized {
  height: 19px;
  padding: 0;
}

.mini {
  .light{
    max-height: 180px;
  }
  img {
    transform: translate(50%, -150%);
  }
}

.zones {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
}