@import "styles/index";

.root {
  height: 25%;
  display: flex;
  flex-direction: column;
}

.rootActive {
  height: 48%;
  .itemsDown {
    min-height: 48%;
    .itemDown:last-child{
      display: flex;
    }
  }
  .items {
    min-height: 48%;
    .item:last-child{
      display: flex;
    }
  }
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.light {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  //max-height: 250px;

  img {
    width: 40% !important;
    transform: translate(75%, 0%);
  }
}

.items {
  display: flex;
  flex-direction: column-reverse;
  min-height: 33%;
  .item:last-child{
    display: none;
  }
}

.itemsDown {
  display: flex;
  flex-direction: column;
  min-height: 33%;
  .itemDown:last-child{
    display: none;
  }
  .active {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(132, 111, 0, 1) 100%);
  }
}

.decorative {
  display: flex;
  flex-direction: column;
  min-height: 33%;
  .item{
    height: 50%;
  }
  .active:last-child {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(132, 111, 0, 1) 100%);
  }
}

.item {
  height: 33%;
  background: radial-gradient(514.65% 957.67% at 0% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 100%);
  min-width: 100%;
  margin-bottom: 4px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
}

.itemDown {
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.item.opened {
  
}

.active {
  background: linear-gradient(180deg, rgba(132, 111, 0, 1) 0%, rgba(93, 78, 0, 1) 35%, rgba(0, 0, 0, 1) 100%);
}

.minimized {
  padding: 0;
}

.mini {
  height: 13%;
  .light{
    max-height: 180px;
  }
  img {
    transform: translate(50%, 0%);
  }
}

.zones {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  text-align: center;
}