@import "styles/index";

.itemEnter {
  opacity: 0;
  position: absolute;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 500ms;
  position: absolute;
}

.itemExit {
  opacity: 1;
  //position: absolute;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 500ms;
  //position: absolute;
}