@import "styles/index";

.root {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    justify-content: flex-end;
    cursor: auto;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.img{
    width: 180px !important;
    height: 40px !important;
    z-index: 12;
    inset: -15% 0 0 0 !important;
    position: relative !important;
}

.form{
    width: 100%;
}

.key{
    margin-top: 20px;
}

.btns{
    position: relative;
    z-index: 13;
    height: 80px;
    display: flex;
    margin: 0 -30px;
    margin-top: 20px;
    button{
        height: 100%;
    }
}