@import "styles/index";

.root {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.loaded{
  margin: 0;
}

.bottom{
  display: flex;
  gap: 0 5px;
  margin-top: 10px;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper{
  display: flex;
}

.svg{
  path{
    fill: $gray;
  }
}

.onZoom{
  path{
    fill: $zoom;
  }
}

.onTrue{
  path{
    fill: $trueconf;
  }
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.itemExit{
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 500ms;
}