@import "styles/index";

.root {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.loaded{
  margin: 0;
}

.bottom{
  display: flex;
  gap: 0 5px;
  margin-top: 10px;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper{
  display: flex;
}

.svg{
  path{
    fill: $gray;
  }
}