@import "styles/index";

.root {
  height: 25%;
  display: flex;
  flex-direction: column;
}

.rootActive {
  height: 48%;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.call {
  .gradient {
    padding: 125px 0;
  }
}

.help,
.call {
  position: relative;
  min-height: 180px;
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  img {
    width: 40% !important;
    transform: translate(75%, 0%);
  }

  .text {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
}

.call {
  min-height: 50%;
}

.gradient {
  background: radial-gradient(50.51% 50.51% at 50.51% 50%, rgba(106, 18, 18, 1) 0%, rgba(106, 18, 18, 1) 44.79%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  min-width: 100%;
  padding: 90px 0;
  border-radius: 100%;
  cursor: pointer;
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.minimized {
  min-height: 180px;
  max-height: 180px;

  .gradient {
    padding: 90px 0;
  }

  img {
    transform: translate(50%, 0%);
  }
}

.minimizedAlt {}