@import "styles/index";

.root {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.img {
  width: 72px !important;
  height: 72px !important;
  position: relative !important;
  margin-right: 11px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(62, 62, 62, 0.8) 100%), #000000;
  margin-right: 11px;
}

.ava {
  width: 35px !important;
  height: 48px !important;
  position: relative !important;
}

.header {
  position: absolute;
  left: 0;
  top: 20px;
  width: 40%;
}

.new {}

.old {}

.main {
  display: flex;
  align-items: center;
}

.name {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  margin-right: 11px;
}

.allow {
  padding: 23px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

.on,
.off,
.onCam,
.offCam {
  cursor: pointer;
}

.on {
  width: 21px;
  height: 25px;

  path {
    fill: $gray;
  }
}

.off {
  width: 24px;
  height: 30px;

  path {
    fill: #E81B18;
  }
}

.onCam {
  width: 31px;
  height: 23px;

  path {
    fill: $gray;
  }
}

.offCam {
  width: 40px;
  height: 40px;

  path {
    fill: #E81B18;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin-right: 28px;
}

.microphone,
.camera {
  display: flex;
  align-items: center;
}

.close {
  width: 23px !important;
  height: 23px !important;
  position: relative !important;
  cursor: pointer;
}

.closeWrap {
  cursor: pointer;
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 2000ms;
}

.itemExit {
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 2000ms;
}

.btns {
  position: absolute;
  z-index: 13;
  display: flex;
  width: 100%;
  max-height: 100%;
  height: 100%;

  button {
    height: 100%;
  }
}