@import "styles/index";

.root {
    padding-top: 56px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.img {
    width: 120px !important;
    height: 27px !important;
    z-index: 12;
    position: relative !important;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.id,
.time,
.separator {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

.separator {
    padding: 0 10px;
}

.allow {
    position: absolute;
    padding: 28px 20px;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    left: 0;
    top: 20px;
    width: 42%;
    white-space: nowrap;
}

.qr {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 20px;
    right: 0;
    align-items: center;

    .text {
        color: $gray;
        font-weight: 400;
        font-size: 24px;
        text-align: right;
        line-height: 100%;
    }
}

.qrImg {
    width: 100px !important;
    height: 100px !important;
}
