@import "styles/index";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.img {
  width: 10% !important;
  left: 45% !important;
  z-index: 13;
}

.label {
  color: #fff;
  font-weight: 600;
  font-size: 44px;
  text-align: right;
  display: flex;
  position: absolute;
  display: flex;
  z-index: 12;
}

.zoom{
  position: relative;
  .label{
    bottom: 20px;
    right: 20px;
    max-width: 44%;
    text-align: right;
  }
}

.trueconf{
  .label{
    bottom: 20px;
    left: 20px;
    max-width: 44%;
    text-align: left;
  }
}

.screen{
  .label{
    top: 20px;
    right: 20px;
    max-width: 67%;
    text-align: right;
  }
}

.sound{
  .label{
    top: 20px;
    left: 20px;
    max-width: 60%;
    text-align: left;
  }
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 2000ms;
}

.itemExit{
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 2000ms;
}