@import "styles/index";

.root {
  height: 25%;
  display: flex;
  flex-direction: column;
}

.rootActive {
  height: 48%;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.volume {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  //max-height: 250px;

  img {
    width: 40% !important;
    transform: translate(75%, 0%);
  }
}

.items {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100%;
}

.item {
  height: 10%;
  background: linear-gradient(90deg, rgba(12, 12, 12, 1) 0%, rgba(73, 73, 73, 1) 50%, rgba(12, 12, 12, 1) 100%);
  min-width: 100%;
  margin-bottom: 4px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item.opened {}

.active {
  background: linear-gradient(90deg, rgba(4, 0, 45, 1) 0%, rgba(19, 0, 245, 1) 50%, rgba(4, 0, 46, 1) 100%);
}

.minimized {

  padding: 0;
}

.mini {
  height: 13%;

  .sound {
    max-height: 180px;
  }

  img {
    transform: translate(50%, 0%);
  }
}