@import "styles/index";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  z-index: 23;
  background: rgba(0, 0, 0, 0.95);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 70px 40px;
  width: 100%;
}

.wait {
  font-weight: 600;
  font-size: 44px;
  color: #fff;
  text-align: center;
  margin-top: 64px;
}

.img {
  width: 120px !important;
  height: 27px !important;
  z-index: 12;
  position: relative !important;
}

.large{
  height: 90px !important;
}

.itemEnter {
  opacity: 0;
}

.itemEnterActive {
  opacity: 1;
  transition: opacity 1000ms;
}

.itemExit{
  opacity: 1;
}

.itemExitActive {
  opacity: 0;
  transition: opacity 1000ms;
}