// Colors
$white: #FFFFFF;
$black: #000000;
$zoom: #0B5BFC;
$trueconf: #0197A7;
$gray: #707070;
$purple: #8200F1;
$red: #E81B18;
$yellow: #D2FF54;

// rgb 
// zoom: 11, 91, 253
// trueconf: 1, 151, 167
// red: 232, 27, 24
// purple: 130, 0, 241
// yellow: 210, 255, 84